.page_transition{height:42px;width:142px;display:flex;align-items:center;justify-content:space-between;}
.next_page{display:flex;flex-direction:column;margin-top:32px;}
.page_a{display:block;margin-bottom:64px;background-color:var(--BG_2);}
.button{padding:24px 32px;border-radius:16px;}
/* .content{flex-direction:column;} */
.webcum{position:fixed;top:0;left:0;min-width:100%;height:100%;z-index:-1;}
.nav{z-index:10;}


