{% extends 'main_page/shablon.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Форма | GreenAtomWork{% endblock  %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main_page/css/forms.css' %}">
{% endblock %}

{% block content %}
    <div class="forms_header cells">
        <p class="h4">Оставьте свои контактные данные и мы свяжемся с вами!</p>
    </div>
    <div class="forms_content">
        <div class="content_left">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form_name">
                    <img src="{% static 'main_page/img/svg/user.svg' %}">
                    <input styles="cells" placeholder="имя" type="text" name="name" maxlength="32" minlength="3" required="a" id="id_name">
                </div>
                <div class="form_email">
                    <img src="{% static 'main_page/img/svg/email.svg' %}">
                    <input styles="cells" type="email" name="email" required="" id="id_email" placeholder="эл. почта">
                </div>
                <div class="form_programmer">
                    <img src="{% static 'main_page/img/svg/code.svg' %}">
                    <input styles="cells" type="text" name="programming_lang" placeholder="языки программирования" maxlength="128" minlength="1" required="" id="id_programming_lang">
                    <select styles="cells" name="mast" id="id_mast">
                        <option value="full">Full-stack developer</option>
                        <option value="front">Frontend developer</option>
                        <option value="back">Backend developer</option>
                    </select>
                </div>
                <div class="form_button">
                    <button type="submit" class="button">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}