{% extends 'main_page/shablon.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Форма | "Название приложения"{% endblock  %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main_page/css/forms.css' %}">
{% endblock %}

{% block content %}
    <div class="forms_header">
        <p class="h4">Оставьте свои контактные данные и мы свяжемся с вами!</p>
    </div>
    <div class="forms_content">
        <div class="content_left">
            <div class="form_name">
                <img src="{% static 'main_page/img/svg/user.svg' %}">
                <input type="text">
            </div>
            <div class="form_email">
                <img src="{% static 'main_page/img/svg/email.svg' %}">
                <input type="text">
            </div>
            <div class="form_programmer">
                <img src="{% static 'main_page/img/svg/code.svg' %}">
                <input type="text">
            </div>
            <div class="form_button">

            </div>
        </div>
        <div class="content_right">
            <p>GitHub</p>
        </div>
    </div>
{% endblock %}