{% extends 'main_page/shablon.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Главная | "Название приложения"{% endblock  %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main_page/css/main.css' %}">
{% endblock %}
{% block greenlabs %}
    <img src="{% static 'main_page/img/greenlab.png' %}">
{% endblock %}
{% block content %}
    <div class="info"></div>
    <div class="next_page">
        <a href="/quiz/" class="page_a button h3">Пройти викторину</a>
        <a href="/forms/" class="page_a button h3">Оставить контакты</a>
    </div>
{% endblock %}