{% extends 'main_page/shablon.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Quiz | GreenAtomWork{% endblock  %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main_page/css/quiz.css' %}">
{% endblock %}

{% block content %}
    <div class="quiz_question">
        <p class="h1">Какой алгоритм сортировки существует?</p>
        <p class="h1">0/5</p>
    </div>
    <div class="quiz_reply">
        <a href="/lose/">
        <div class="_reply">
            <p class="h1">Сортировка пузырем</p>
        </div>
        </a>
                <a href="/lose/">

        <div class="_reply">
            <p class="h1">Сортировка танком</p>
        </div>
                </a>
                                    <a href="/lose/">

        <div class="_reply">
            <p class="h1">Мгновенная сортировка</p>
        </div> </a>
                                                        <a href="/quiz2/">

        <div class="_reply">
            <p class="h1">Быстрая сортировка</p>
        </div> </a>
    </div>
{% endblock %}