{% extends 'main_page/shablon.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Quiz | GreenAtomWork{% endblock  %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main_page/css/quiz.css' %}">
{% endblock %}

{% block content %}
    {% for qwe123 in qwe %}
    <div class="quiz_question">
        <p class="h1">{{ qwe123.question_text }}</p>
        <p class="h1">1/5</p>
    </div>
    <div class="quiz_reply">
        <div class="_reply">
            <p class="h1">{{ qwe123.opt1 }}</p>
        </div>
        <div class="_reply">
            <p class="h1">Ответ2</p>
        </div>
        <div class="_reply">
            <p class="h1">Ответ3</p>
        </div>
        <div class="_reply">
            <p class="h1">Ответ4</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}