{% extends 'main_page/shablon.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Quiz | GreenAtomWork{% endblock  %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main_page/css/quiz.css' %}">
{% endblock %}

{% block content %}
    <div class="quiz_question">
        <p class="h1">Принципы работы ООП?</p>
        <p class="h1">2/5</p>
    </div>
    <div class="quiz_reply">
        <div class="_reply">
            <p class="h1">Наследование</p>
        </div>
        <div class="_reply">
            <p class="h1">Абстракция</p>
        </div>
        <div class="_reply">
            <p class="h1">Преимущества</p>
        </div>
        <div class="_reply">
            <p class="h1">Все ответы верны</p>
        </div>
    </div>
{% endblock %}