{% extends 'main_page/shablon.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Имя | GreenAtomWork{% endblock  %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'main_page/css/win.css' %}">
{% endblock %}

{% block content %}
    <div class="win_name">
        <p>Вы справились!</p>
        <p>Ваш результат <span class="seconds">1234567 с</span></p>
        <p>User</p>
        <p>Приглашаем Вас, на стажировку <strong>Junior-разработчиком</strong> в компании <span class="rosatom">РОСАТОМ</span></p>
        <p class="please">Пожалуйста, для дальнейшей связи, укажите,свою почту:</p>
        <div class="email_block">
            <input class="win_email" type="email" id="id_win">
        </div>
        <a href=""><div class="button"><p>Продолжить</p></div></a>
        
    </div>
{% endblock %}